@charset 'utf-8';
i,em{
    font-style: normal;
}
b,strong{
    font-weight: normal;
}
body,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
    font-family: "microsoft yahei";
    font-size: 14px;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    vertical-align: top;
}
li{
    list-style: none;
}
body{
    color: #333333;
    width: 100%;
}
.m-showrell{
    background: rgba(0,0,0,0) url(../img/UI/con2_bg.jpg) no-repeat scroll center top;
    height: 774px;
    overflow: hidden;
    padding-top: 46px;
    width: 100%;
    .base{
        margin: 0 auto;
        overflow: hidden;
        width: 1200px;
    }
}
